# ============ DATABASE ============
DATABASE_URL="postgresql://neondb_owner:npg_6wYixrevlkq8@ep-wild-leaf-aorkkdht.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# ============ AUTH ============
# Generate with: openssl rand -base64 32
AUTH_SECRET="REPLACE_WITH_RANDOM_32_CHAR_STRING_xyzABC123456"
NEXTAUTH_URL="http://localhost:3000"

# ============ APP ============
NEXT_PUBLIC_APP_NAME="AtomQuest"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
